h1 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: trebuchet;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: trebuchet;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: left;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #f7f7f7
}

h5 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: trebuchet;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Trebuchet MS;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: trebuchet;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: trebuchet;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: trebuchet;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white;
  background-position: center center;
  background-size: cover
}

.fr_text_bright_center.fr-text p {
  font-family: Trebuchet MS;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  font-family: Trebuchet MS;
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_dark_center.fr-text blockquote {
  text-align: left
}

.fr_text_dark_center.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center
}

.fr_text_dark_center.fr-text h6 {
  text-align: center
}

.fr_text_dark_center.fr-text h3 {
  font-family: Trebuchet MS;
  text-align: center
}

.fr_text_dark_center.fr-text h5 {
  text-align: center
}

.fr_text_dark_center.fr-text p {
  text-align: center
}

.fr_text_dark_center.fr-text h2 {
  text-align: center
}

.fr_text_dark_center.fr-text h4 {
  text-align: center
}

.fr_texto_branco.fr-text blockquote {
  text-align: left
}

.fr_texto_branco.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center
}

.fr_texto_branco.fr-text h6 {
  text-align: center
}

.fr_texto_branco.fr-text h3 {
  font-family: Trebuchet MS;
  text-align: left;
  color: #f7f7f7
}

.fr_texto_branco.fr-text h5 {
  text-align: center
}

.fr_texto_branco.fr-text p {
  text-align: left;
  color: #f7f7f7
}

.fr_texto_branco.fr-text h2 {
  text-align: center
}

.fr_texto_branco.fr-text h4 {
  text-align: left
}

.fr_titulo_bco.fr-text h1 {
  color: white
}

.fr_lista.fr-text h5 {
  color: #f7f7f7
}

.fr_lista.fr-text p {
  font-weight: 500;
  color: #f7f7f7
}

.fr_hero_with_bg {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.8)
}

.fr_hd3_content {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: repeat;
  max-width: 1200px
}

.fr_hero_centered {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(photo-1481437642641-2f0ae875f836.jpg);
  background-position: center bottom;
  background-size: cover
}

.fr_container_wrapper {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_text_9 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto
}

.fr_group_container_5 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-right: 5%;
  padding-bottom: 3rem;
  padding-left: 5%;
  background-color: #7b728c
}

.fr_grid_18 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  min-height: 1rem;
  max-width: 1000px
}

.fr_grid_18.fr-grid>.fr-widget {
  float: left
}

.fr_grid_18.fr-grid>.fr-widget:nth-child(1n+1) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 100%;
  clear: left;
  max-width: inherit
}

.fr_text_200 {
  float: none;
  display: block
}

.fr_grid_19 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  min-height: 1rem;
  max-width: 1000px
}

.fr_grid_19.fr-grid>.fr-widget {
  float: left
}

.fr_grid_19.fr-grid>.fr-widget:nth-child(1n+1) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 100%;
  clear: left;
  max-width: inherit
}

.fr_text_201 {
  float: none;
  display: block
}

.fr_group_container_6 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-right: 5%;
  padding-bottom: 3rem;
  padding-left: 5%;
  background-color: #f7f7f7
}

.fr_container {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1rem;
  background-color: #412d66
}

.fr_text_block {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_grid_26 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_26.fr-grid>.fr-widget {
  float: left
}

.fr_grid_26.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_26.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_text_208 {
  float: none;
  display: block
}

.fr_image_container_26 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_2 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_grid_27 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_27.fr-grid>.fr-widget {
  float: left
}

.fr_grid_27.fr-grid>.fr-widget:nth-child(1n+1) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 100%;
  clear: left;
  max-width: inherit
}

.fr_text_209 {
  float: none;
  display: block
}

.fr_grid_28 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_28.fr-grid>.fr-widget {
  float: left
}

.fr_grid_28.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_28.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_28 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_4 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_210 {
  float: none;
  display: block
}

.fr_grid_29 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_29.fr-grid>.fr-widget {
  float: left
}

.fr_grid_29.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_29.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_29 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_5 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_211 {
  float: none;
  display: block
}

.fr_grid_30 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_30.fr-grid>.fr-widget {
  float: left
}

.fr_grid_30.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_30.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_30 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_6 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_212 {
  float: none;
  display: block
}

.fr_grid_31 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_31.fr-grid>.fr-widget {
  float: left
}

.fr_grid_31.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_31.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_31 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_7 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_213 {
  float: none;
  display: block
}

.fr_grid_32 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_32.fr-grid>.fr-widget {
  float: left
}

.fr_grid_32.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_32.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_32 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_8 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_214 {
  float: none;
  display: block
}

.fr_youtube_video_2 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  max-width: 768px
}

.fr_content_6 {
  float: none;
  display: block;
  padding-top: 1rem;
  padding-bottom: 8rem;
  background-color: #412d66
}

.fr_grid {
  width: 90%;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  background-position: center center;
  background-size: cover;
  min-height: 12em;
  max-width: 1000px
}

.fr_grid.fr-grid>.fr-widget {
  float: left
}

.fr_grid.fr-grid>.fr-widget:nth-child(1n+1) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 100%;
  clear: left;
  max-width: inherit
}

.fr_text_block_9 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_grid_33 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_33.fr-grid>.fr-widget {
  float: left
}

.fr_grid_33.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_33.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_33 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_10 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_215 {
  float: none;
  display: block
}

.fr_grid_34 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_34.fr-grid>.fr-widget {
  float: left
}

.fr_grid_34.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_34.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_34 {
  float: none;
  display: block;
  position: relative;
  min-height: 70px
}

.fr_text_block_11 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_216 {
  float: none;
  display: block
}

.fr_youtube_video_2 .fr-video-inner {
  padding-bottom: 56.25%;
  position: relative
}

@media screen and (max-width:768px) {
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_group_container_6 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_text_dark_center {
    font-size: 1em
  }
  .fr_texto_branco {
    font-size: 1em
  }
  .fr_hero_with_bg {
    padding-top: 20px;
    padding-bottom: 20px
  }
  .fr_hero_centered {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_grid_18.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_18.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_19.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_19.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_group_container_6 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_grid_26.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_26.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_27.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_27.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_28.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_28.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_29.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_29.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_30.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_30.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_31.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_31.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_32.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_32.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_content_6 {
    height: 50rem
  }
  .fr_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_33.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_33.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_34.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_34.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:320px) {
  h1 {
    font-size: 2.0rem
  }
  .fr_text_bright_center.fr-text h1 {
    font-size: 1.4rem
  }
  .fr_text_dark_center {
    font-size: .9em;
    line-height: 1.45em
  }
  .fr_texto_branco {
    font-size: .9em;
    line-height: 1.45em
  }
  .fr_texto_branco.fr-text h4 {
    font-size: 1.1rem
  }
  .fr_hero_with_bg {
    padding-top: 20px;
    padding-bottom: 20px
  }
  .fr_hero_centered {
    padding-top: 10px
  }
  .fr_youtube_video_2 {
    margin-top: 0;
    margin-bottom: 0
  }
  .fr_content_6 {
    height: 45rem
  }
}