h1 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  font-family: Trebuchet MS;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_large_bright_center {
  font-family: Trebuchet MS
}

.fr_text_large_bright_center.fr-text p {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.45em;
  letter-spacing: .05em;
  color: white
}

.fr_text_large_bright_center.fr-text h1 {
  font-size: 4.2rem;
  text-align: center
}

.fr_text_large_bright_center.fr-text h2 {
  font-family: Trebuchet MS;
  font-size: 2rem;
  text-align: center;
  color: white
}

.fr_text_large_bright_center.fr-text h3 {
  font-size: 2rem
}

.fr_text_large_bright_center.fr-text h4 {
  font-size: 1.8rem
}

.fr_text_large_bright_center.fr-text h6 {
  font-family: Trebuchet MS;
  font-size: 1.5rem;
  color: #f4f4f4
}

.fr_text_large_bright_center.fr-text h5 {
  font-size: 1rem
}

.fr_text_large_bright_center.fr-text blockquote {
  text-align: left
}

.fr_hero_vertically_centered {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)), url(img1.jpg_1200x800.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 80vh
}

.fr_vertically_centered_block {
  display: block;
  top: 50%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.fr_text_27 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_8 {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #183e51
}

.fr_text_30 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_1 {
  padding-top: 3rem;
  padding-bottom: 10rem;
  background-color: #f4f4f4
}

.fr_cnt1_2_column_grid {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt1_2_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_cnt1_2_column_grid.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 6.6%;
  margin-bottom: 0;
  margin-left: 0;
  width: 46.7%;
  clear: left;
  max-width: inherit
}

.fr_cnt1_2_column_grid.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 46.7%;
  clear: none;
  max-width: inherit
}

.fr_text_32 {
  float: none;
  display: block
}

.fr_text_33 {
  float: none;
  display: block
}

@media screen and (max-width:1024px) {
  .fr_text_large_bright_center.fr-text h2 {
    font-size: 3rem
  }
}

@media screen and (max-width:768px) {
  .fr_cnt1_2_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt1_2_column_grid.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 4rem
  }
  .fr_text_large_bright_center {
    font-size: 1.3em
  }
  .fr_text_large_bright_center.fr-text h2 {
    font-size: 2rem
  }
  .fr_text_large_bright_center.fr-text h6 {
    font-family: Trebuchet MS
  }
  .fr_hero_vertically_centered {
    padding-top: 35px;
    padding-bottom: 35px;
    min-height: 40vh
  }
}

@media screen and (max-width:320px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 3rem
  }
  .fr_text_large_bright_center.fr-text h2 {
    font-size: 1.3rem
  }
  .fr_text_large_bright_center.fr-text h6 {
    font-size: 1.2rem
  }
  .fr_hero_vertically_centered {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 40vh
  }
  .fr_content_8 {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
  .fr_content_1 {
    padding-top: 1rem
  }
}