h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: PT Sans;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .8rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #a1a0a0
}

p {
  font-family: PT Sans;
  font-weight: 100;
  font-size: .8rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #a1a0a0
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  font-family: Trebuchet MS;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  margin-bottom: .1 rem;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  font-family: Trebuchet MS;
  color: #ffc906
}

.fr_text_bright_center.fr-text h5 {
  font-family: Trebuchet MS;
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_bright_center.fr-text ul li {
  line-height: 1.0;
  text-align: left;
  margin-top: .25rem;
  color: rgba(255, 255, 255, 0.8)
}

.fr_button_fill_grey {
  font-family: Trebuchet MS;
  text-align: center;
  color: white;
  background-color: #a7a7a7;
  border-radius: 4px
}

.fr_hero_centered {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #6b6184;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed
}

.fr_container_wrapper {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_text_9 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_image {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_content_10 {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #30273c;
  min-height: 12rem
}

.fr_button9 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 170px
}

@media screen and (max-width:1024px) {
  .fr_image {
    width: 60%
  }
}

@media screen and (max-width:768px) {
  .fr_image {
    width: 70%
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_hero_centered {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_image {
    width: 100%
  }
}

@media screen and (max-width:320px) {
  .fr_image {
    width: 100%
  }
}

.fr_button9 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_button9:hover {
  color: #30273c;
  background-color: white;
  transition-duration: .125s
}