h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_dark_right {
  color: black
}

.fr_text_dark_right.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: right
}

.fr_text_dark_right.fr-text p {
  text-align: right
}

.fr_text_dark_right.fr-text h2 {
  text-align: right
}

.fr_text_dark_right.fr-text h3 {
  text-align: right
}

.fr_text_dark_right.fr-text h4 {
  text-align: right
}

.fr_text_dark_right.fr-text h5 {
  text-align: right
}

.fr_text_dark_right.fr-text h6 {
  text-align: right
}

.fr_text_dark_right.fr-text blockquote {
  text-align: right
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_dark_center.fr-text blockquote {
  text-align: left
}

.fr_text_dark_center.fr-text h1 {
  text-align: center
}

.fr_text_dark_center.fr-text h6 {
  text-align: center
}

.fr_text_dark_center.fr-text h3 {
  text-align: center
}

.fr_text_dark_center.fr-text h5 {
  text-align: center
}

.fr_text_dark_center.fr-text p {
  text-align: center
}

.fr_text_dark_center.fr-text h2 {
  text-align: center
}

.fr_text_dark_center.fr-text h4 {
  text-align: center
}

.fr_text_bright_left {
  text-align: left
}

.fr_text_bright_left.fr-text h1 {
  color: white
}

.fr_text_bright_left.fr-text p {
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_left.fr-text h5 {
  color: white
}

.fr_text_bright_left.fr-text h4 {
  color: white
}

.fr_text_bright_left.fr-text h2 {
  color: white
}

.fr_text_bright_left.fr-text h3 {
  color: white
}

.fr_text_bright_left.fr-text h6 {
  color: white
}

.fr_text_bright_left.fr-text blockquote {
  color: white
}

.fr_hero_with_fixed_bg {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: white;
  background-image: url(bg-white.jpg_1200x795.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed
}

.fr_hd4_container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_text_11 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-left: auto;
  max-width: 600px
}

.fr_youtube_video {
  float: none;
  display: block;
  width: 100%;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  max-width: 768px
}

.fr_discover {
  float: none;
  display: block;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(195, 78, 41, 0.71);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover
}

.fr_text_65 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_7_2 {
  float: none;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white
}

.fr_text_43 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt07_column_grid {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt07_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_cnt07_column_grid.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 6%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 47%;
  clear: left;
  max-width: inherit
}

.fr_cnt07_column_grid.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 47%;
  clear: none;
  max-width: inherit
}

.fr_text_44 {
  display: block
}

.fr_text_45 {
  display: block
}

.fr_text_styles_bright {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #55595d;
  min-height: 1rem
}

.fr_text_169 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

.fr_features_block_2 {
  float: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto
}

.fr_group_container_5 {
  width: 60%;
  padding-top: 3rem;
  padding-right: 5%;
  padding-bottom: 3rem;
  padding-left: 5%;
  background-color: #f7f7f7;
  min-height: 20.94rem
}

.fr_action_container_2 {
  float: none;
  display: block;
  background-image: url(jimmy-kimmel-live.jpg_1300x1733.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 12em;
  min-width: 40%
}

.fr_text_block_3 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_styles_default {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  min-height: 1rem
}

.fr_text_168 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px
}

.fr_content_28 {
  float: none;
  display: block;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
  background-position: center center;
  background-size: cover
}

.fr_cnt03_column_grid_5 {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt03_column_grid_5.fr-grid>.fr-widget {
  float: right
}

.fr_cnt03_column_grid_5.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 4%;
  width: 48%;
  clear: right;
  max-width: inherit
}

.fr_cnt03_column_grid_5.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_cnt03_image_5 {
  float: none;
  display: block;
  margin-right: auto;
  background-image: url(dunning-kruger-grafico.jpg_1545x1430.jpg);
  background-position: left center;
  background-size: cover;
  min-height: 25rem
}

.fr_text_203 {
  float: none;
  display: block
}

.fr_youtube_video .fr-video-inner {
  padding-bottom: 56.25%;
  position: relative
}

@media screen and (max-width:768px) {
  .fr_cnt07_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt07_column_grid.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 3.3%;
    margin-bottom: .6em;
    margin-left: 3.3%;
    width: 93.4%;
    clear: left;
    max-width: inherit
  }
  .fr_features_block_2 {
    -webkit-flex-direction: column;
    flex-direction: column
  }
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_action_container_2 {
    min-height: 60vh
  }
  .fr_cnt03_column_grid_5.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt03_column_grid_5.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_text_dark_center {
    font-size: 1em
  }
  .fr_hero_with_fixed_bg {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_features_block_2 {
    -webkit-flex-direction: column;
    flex-direction: column
  }
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
}

@media screen and (max-width:320px) {
  .fr_text_dark_center {
    font-size: .9em;
    line-height: 1.45em
  }
}