h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Trebuchet MS;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  font-family: Trebuchet MS;
  font-size: 3.8rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  font-family: Trebuchet MS;
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_hero_with_parallax {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(poder-habito1.jpg_1100x340.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed
}

.fr_text_26 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_content_1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f4f4f4
}

.fr_cnt1_2_column_grid {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt1_2_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_cnt1_2_column_grid.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 6.6%;
  margin-bottom: 0;
  margin-left: 0;
  width: 46.7%;
  clear: left;
  max-width: inherit
}

.fr_cnt1_2_column_grid.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 46.7%;
  clear: none;
  max-width: inherit
}

.fr_text_32 {
  float: none;
  display: block
}

.fr_text_33 {
  float: none;
  display: block
}

.fr_youtube_video {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px
}

.fr_youtube_video .fr-video-inner {
  padding-bottom: 56.25%;
  position: relative
}

@media screen and (max-width:768px) {
  .fr_cnt1_2_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt1_2_column_grid.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 3rem
  }
  .fr_hero_with_parallax {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_content_1 {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
}