h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #104579
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_large_dark_center.fr-text p {
  font-family: Trebuchet MS;
  font-weight: 500;
  font-size: 1.7em;
  line-height: 1.45;
  text-align: center;
  letter-spacing: .05em
}

.fr_text_large_dark_center.fr-text h1 {
  font-size: 4.2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h4 {
  font-size: 1.8rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h6 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h5 {
  font-size: 1rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text blockquote {
  text-align: left
}

.fr_button {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  text-decoration: inherit;
  letter-spacing: .01em;
  color: white;
  background-color: #2faded;
  border-radius: 4px
}

.fr_hero_vertically_centered {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(photo-1524586338739-40d41beb27d1.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 80vh
}

.fr_vertically_centered_block {
  display: block;
  top: 50%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.fr_text_27 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_13 {
  float: none;
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white
}

.fr_text_31 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_content_6 {
  float: none;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #104579
}

.fr_text_42 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_group_container_5 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-right: 5%;
  padding-bottom: 3rem;
  padding-left: 5%;
  background-color: #f7f7f7
}

.fr_grid_17 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_grid_17.fr-grid>.fr-widget {
  float: left
}

.fr_grid_17.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 3.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_17.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 95.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_17 {
  float: none;
  display: block;
  position: relative
}

.fr_text_199 {
  float: none;
  display: block
}

.fr_text_block {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_grid_18 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1rem;
  max-width: 800px
}

.fr_grid_18.fr-grid>.fr-widget {
  float: left
}

.fr_grid_18.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 3.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_18.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 95.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_18 {
  float: none;
  display: block;
  position: relative
}

.fr_text_block_2 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_200 {
  float: none;
  display: block
}

.fr_grid_19 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1rem;
  max-width: 800px
}

.fr_grid_19.fr-grid>.fr-widget {
  float: left
}

.fr_grid_19.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 3.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_19.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 95.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_19 {
  float: none;
  display: block;
  position: relative
}

.fr_text_block_3 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_201 {
  float: none;
  display: block
}

.fr_grid_20 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1rem;
  max-width: 800px
}

.fr_grid_20.fr-grid>.fr-widget {
  float: left
}

.fr_grid_20.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 3.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_20.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 95.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_20 {
  float: none;
  display: block;
  position: relative
}

.fr_text_block_4 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_text_202 {
  float: none;
  display: block
}

.fr_hero_vertically_centered_2 {
  float: left;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(0, 125, 177, 0.67), rgba(0, 125, 177, 0.67)), url(photo-1515803171005-2d5e90f7b4d3.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 450px;
  padding: 20px 0;
}

.fr_vertically_centered_block_2 {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) */
}

.fr_text_203 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_text_136 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  min-height: 3rem;
  max-width: 300px
}

@media screen and (max-width:768px) {
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_text_large_dark_center {
    font-size: 1.3em
  }
  .fr_text_large_dark_center.fr-text p {
    font-size: 1.1rem
  }
  .fr_hero_vertically_centered {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_grid_17.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_17.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_18.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_18.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_19.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_19.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_20.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_20.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_hero_vertically_centered_2 {
    padding-top: 20px;
    padding-bottom: 100px
  }
}

@media screen and (max-width:320px) {
  .fr_hero_vertically_centered_2 {
    /* height: 50rem; */
    background-image: linear-gradient(rgba(0, 125, 177, 0.71), rgba(0, 125, 177, 0.71))
  }
}

.fr_text_136 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_136:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}