h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: white
}

h2 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: .9;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_left.fr-text h1 {
  font-family: Trebuchet MS;
  margin-bottom: 1rem;
  color: white
}

.fr_text_bright_left.fr-text p {
  font-family: Roboto;
  text-align: left;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_left.fr-text h5 {
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h4 {
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h2 {
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h3 {
  text-align: left;
  margin-top: 1rem;
  color: white
}

.fr_text_bright_left.fr-text h6 {
  color: white
}

.fr_text_bright_left.fr-text blockquote {
  color: white
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  font-size: 1.2rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_dark_text_left.fr-text h3 {
  font-family: Trebuchet MS
}

.fr_dark_text_left.fr-text h5 {
  color: #2d2d2d
}

.fr_dark_text_left.fr-text p {
  font-weight: 500;
  color: #747474
}

.fr_hero_with_bg {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url(img1.jpg_1199x625.jpg);
  background-size: cover
}

.fr_hd3_content {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: repeat;
  max-width: 1200px
}

.fr_text_25 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto
}

.fr_discover {
  float: none;
  display: block;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgba(88, 26, 44, 0.6);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed
}

.fr_text_65 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

.fr_gallery_lightbox {
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem
}

.fr_grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em;
  max-width: 1000px
}

.fr_grid.fr-grid>.fr-widget {
  float: left
}

.fr_grid.fr-grid>.fr-widget:nth-child(3n+1) {
  margin-top: 2rem;
  margin-right: 2%;
  margin-bottom: 2rem;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: left;
  max-width: inherit
}

.fr_grid.fr-grid>.fr-widget:nth-child(3n+2) {
  margin-top: 2rem;
  margin-right: 2%;
  margin-bottom: 2rem;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_grid.fr-grid>.fr-widget:nth-child(3n+3) {
  margin-top: 2rem;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_c07_two_3 {
  display: block;
  position: relative
}

.fr_text_91 {
  float: none;
  display: block;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.fr_c07_one_3 {
  margin-bottom: 1rem;
  background-image: url(photo-1487017159836-4e23ece2e4cf.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem;
  border-radius: 25px
}

.fr_c07_two_2 {
  display: block;
  position: relative
}

.fr_text_90 {
  float: none;
  display: block;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.fr_c07_one_2 {
  margin-bottom: 1rem;
  background-image: url(photo-1483546363825-7ebf25fb7513.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem;
  border-radius: 25px
}

.fr_c07_two {
  display: block;
  position: relative
}

.fr_text_89 {
  float: none;
  display: block;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.fr_c07_one {
  margin-bottom: 1rem;
  background-image: url(photo-1432888498266-38ffec3eaf0a.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 12rem;
  border-radius: 25px
}

.fr_discover_2 {
  float: none;
  display: block;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 300px;
  background-color: black;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(148, 85, 85, 0.7), rgba(148, 85, 85, 0.7)), url(photo-1512428559087-560fa5ceab42.jpg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: scroll
}

.fr_text_92 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

@media screen and (max-width:1024px) {
  .fr_discover_2 {
    padding-bottom: 300px
  }
}

@media screen and (max-width:768px) {
  .fr_discover_2 {
    padding-bottom: 200px
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_left.fr-text h1 {
    font-size: 3rem
  }
  .fr_text_bright_center.fr-text p {
    font-size: 1.1rem
  }
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_hero_with_bg {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_discover {
    padding-top: 30px;
    padding-bottom: 30px
  }
  .fr_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 2em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_one_3 {
    border-radius: 15px
  }
  .fr_c07_one_2 {
    border-radius: 14px
  }
  .fr_c07_one {
    border-radius: 15px
  }
  .fr_discover_2 {
    padding-top: 80px;
    padding-bottom: 200px
  }
}

@media screen and (max-width:320px) {
  .fr_discover_2 {
    padding-bottom: 200px
  }
}