#comment-bar header{
    background-color: #006678;
}
#comment-bar header i{
    color: rgb(255, 255, 255);
}
#comment-bar header div{
    color: rgb(255, 255, 255);
}
#list-comment-container .comment-cell .comment-header .comment-date{
    color: rgb(253, 120, 87);
}
/* */
#side-navigation, #side-navigation.sidenav .collapsible-body, #side-navigation.sidenav.fixed .collapsible-body{
    background-color: #006678
}
#side-navigation > .collapsible > li > div.collapsible-header{
    background-color: #224F60;
    color: #ADB7BD;
    text-transform: uppercase
}

#side-navigation > ul > li.active > div.collapsible-body > ul > li div.collapsible-header{
    background-color: #006678;
    color: #ADB7BD
}

#side-navigation > ul > li > div.collapsible-body > ul > li a{
    background-color: #257C8C;
    color: #ADB7BD
}
#side-navigation > ul > li > div.collapsible-body > ul > li a:hover{
    background-color: #4D94A1 !important;
    color: #D2DADD
}
#side-navigation > ul > li > div.collapsible-body > ul > li a i{
    color: #90A2AA;
}

#side-navigation ul li a.watched{
    opacity: 0.4;
}
#side-navigation ul li a.current{
    opacity: 1;
}
#side-navigation ul li a.current span, #side-navigation ul li a.current i{
    color: #FFC62C !important;
}
#side-navigation ul li a.current span{
    text-decoration: underline
}

/* */
#be-toolbar{
    background-color: #00A4AA
}
#be-toolbar a, #be-toolbar p{
    color: rgb(255, 255, 255);
}