h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_large_dark_center.fr-text p {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.45;
  text-align: center;
  letter-spacing: .05em
}

.fr_text_large_dark_center.fr-text h1 {
  font-size: 4.2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h4 {
  font-size: 1.8rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h6 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h5 {
  font-size: 1rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text blockquote {
  text-align: left
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  font-family: Trebuchet MS;
  text-align: left;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h1 {
  font-family: Trebuchet MS;
  font-size: 1.5rem;
  color: white
}

.fr_text_bright_left.fr-text p {
  text-align: left;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_left.fr-text h5 {
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h4 {
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h2 {
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h3 {
  text-align: left;
  color: white
}

.fr_text_bright_left.fr-text h6 {
  color: white
}

.fr_text_bright_left.fr-text blockquote {
  color: white
}

.fr_text_dark_center.fr-text blockquote {
  text-align: left
}

.fr_text_dark_center.fr-text h1 {
  text-align: center
}

.fr_text_dark_center.fr-text h6 {
  text-align: center
}

.fr_text_dark_center.fr-text h3 {
  text-align: center
}

.fr_text_dark_center.fr-text h5 {
  text-align: center
}

.fr_text_dark_center.fr-text p {
  text-align: center
}

.fr_text_dark_center.fr-text h2 {
  text-align: center
}

.fr_text_dark_center.fr-text h4 {
  text-align: center
}

.fr_hero_vertically_centered {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(43, 24, 24, 0.5), rgba(43, 24, 24, 0.5)), url(https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwOTV9&s=c3dac3be63a757161a917c906904bdb2);
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 80vh
}

.fr_vertically_centered_block {
  display: block;
  top: 50%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.fr_text_27 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_14 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white
}

.fr_text_37 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_15 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #5e5182
}

.fr_cnt2_empty_container_2 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt2_2_column_grid_2 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 1rem
}

.fr_cnt2_2_column_grid_2.fr-grid>.fr-widget {
  float: left
}

.fr_cnt2_2_column_grid_2.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 6.6%;
  margin-bottom: 0;
  margin-left: 0;
  width: 46.7%;
  clear: left;
  max-width: inherit
}

.fr_cnt2_2_column_grid_2.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 46.7%;
  clear: none;
  max-width: inherit
}

.fr_text_38 {
  float: none;
  display: block
}

.fr_text_39 {
  float: none;
  display: block
}

.fr_gallery_22 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white
}

.fr_text_238 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_10 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_10.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_10.fr-grid>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_10.fr-grid>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_10.fr-grid>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_gry1_image_one_8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #825170;
  min-height: 50rem;
  border-radius: 4px
}

.fr_container_40 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_85 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #e4b8d4
}

.fr_text_239 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 2rem
}

.fr_text_241 {
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_gry1_image_two_8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #80246a;
  min-height: 50rem;
  border-radius: 4px
}

.fr_container_41 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_86 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #c6a0bd
}

.fr_text_242 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 2rem
}

.fr_text_244 {
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_gry1_image_three_8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #7a4343;
  min-height: 50rem;
  border-radius: 4px
}

.fr_container_42 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_87 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #eac7c7
}

.fr_text_245 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 2rem
}

.fr_text_247 {
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_hero_with_parallax {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(https://images.unsplash.com/photo-1496389395181-e5fdd5c0315e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwOTV9&s=bcad5c5635f7ab758a1fb3dc1d9cf221);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 12rem
}

.fr_image_85 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_86 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_87 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

@media screen and (max-width:1024px) {
  .fr_text_bright_center.fr-text h3 {
    font-family: Trebuchet MS
  }
  .fr_text_dark_center.fr-text h2 {
    font-family: Trebuchet MS
  }
  .fr_content_14 {
    min-height: 22.73rem
  }
  .fr_gry1_image_one_8 {
    background-color: #825170;
    min-height: 52rem
  }
  .fr_gry1_image_two_8 {
    background-color: #80246a;
    min-height: 52rem
  }
  .fr_gry1_image_three_8 {
    background-color: #7a4343;
    min-height: 52rem
  }
}

@media screen and (max-width:768px) {
  .fr_cnt2_2_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt2_2_column_grid_2.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_10.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_10.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_image_one_8 {
    min-height: 30rem
  }
  .fr_image_85 {
    fill: #cab5e2
  }
  .fr_gry1_image_two_8 {
    min-height: 30rem
  }
  .fr_image_86 {
    fill: #daa2cc
  }
  .fr_gry1_image_three_8 {
    min-height: 30rem
  }
}

@media screen and (max-width:480px) {
  .fr_text_large_dark_center {
    font-size: 1.3em
  }
  .fr_text_large_dark_center.fr-text p {
    font-size: 1.4rem
  }
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_text_bright_left.fr-text h1 {
    font-size: 1.5rem
  }
  .fr_hero_vertically_centered {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_content_15 {
    padding-top: 2rem;
    padding-bottom: 2rem
  }
  .fr_gry1_3_column_images_10.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_10.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_hero_with_parallax {
    padding-top: 80px;
    padding-bottom: 80px
  }
}

@media screen and (max-width:320px) {
  .fr_text_bright_left.fr-text h1 {
    font-size: 1.3rem
  }
  .fr_gry1_image_one_8 {
    background-color: #825170
  }
  .fr_image_85 {
    fill: #dabdcf
  }
  .fr_gry1_image_two_8 {
    background-color: #80246a
  }
  .fr_image_86 {
    fill: #e4abd6
  }
  .fr_gry1_image_three_8 {
    background-color: #7a4343
  }
}