.html2canvas-container { width: 3000px !important; height: 4500px !important; }

body{
    background-color: rgb(247, 247, 247);
    font-size: 16px;
}
main.boxed{
    background-color: #FFFFFF;
    padding: 24px;
    width: 800px;
}
main p, main label, main li, main span{
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 18px;
}
main h1{
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 40px;
    margin: 0 0 20px 0;
}
main h2{
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-style: normal;
    font-variant: normal;
    margin: 0;
}
main p.checkbox{
    margin: 0 0 8px 0;
}
main .input-field {
    margin-bottom: 1.5rem;
}
main label{
    position: relative !important;
    left: 0 !important;
}
main button{
    text-transform: uppercase
}
main .be-text-red{color: #C5665C}
main .be-text-green{color: #A4CAAA}
main .be-text-blue{color: rgb(59, 90, 105)}
main .be-text-purple{color: rgb(81, 35, 85)}
main .be-text-gray{color: #808080}
main .be-text-aqua{color: rgb(84, 144, 157)}
main .be-text-orange{color: rgb(255, 140, 0)}

main .be-bg-red{background-color: #C5665C}
main .be-bg-green{background-color: #A4CAAA}
main .be-bg-blue{background-color: rgb(59, 90, 105)}
main .be-bg-purple{background-color: rgb(81, 35, 85)}
main .be-bg-gray{background-color: #808080}
main .be-bg-aqua{background-color: rgb(84, 144, 157)}
main .be-bg-orange{background-color: rgb(255, 140, 0)}

@media only screen and (max-width: 600px) {
    main.boxed{
        width: 90%;
        padding: 0
    }
}