h1 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.2;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #787777
}

h2 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: .9;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  color: #b27574
}

p {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #787777
}

ul li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  font-size: 1.2rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_large_bright_center {
  font-family: Roboto
}

.fr_text_large_bright_center.fr-text p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.45em;
  letter-spacing: .05em;
  color: white
}

.fr_text_large_bright_center.fr-text h1 {
  font-size: 4.2rem
}

.fr_text_large_bright_center.fr-text h2 {
  font-size: 3rem
}

.fr_text_large_bright_center.fr-text h3 {
  font-size: 2rem
}

.fr_text_large_bright_center.fr-text h4 {
  font-size: 1.8rem
}

.fr_text_large_bright_center.fr-text h6 {
  font-size: 2rem
}

.fr_text_large_bright_center.fr-text h5 {
  font-size: 1rem
}

.fr_text_large_bright_center.fr-text blockquote {
  text-align: left
}

.fr_text_large_dark_center.fr-text p {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.45;
  text-align: center;
  letter-spacing: .05em
}

.fr_text_large_dark_center.fr-text h1 {
  font-size: 4.2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h4 {
  font-size: 1.8rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h6 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h5 {
  font-size: 1rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text blockquote {
  text-align: left
}

.fr_preto.fr-text p {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.45;
  text-align: center;
  letter-spacing: .05em
}

.fr_preto.fr-text h1 {
  font-family: Trebuchet MS;
  font-size: 4.2rem;
  line-height: .8;
  text-align: center;
  margin-top: .1rem;
  margin-bottom: .1rem;
  color: white
}

.fr_preto.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_preto.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_preto.fr-text h4 {
  font-size: 1.8rem;
  text-align: center
}

.fr_preto.fr-text h6 {
  font-size: 2rem;
  text-align: center
}

.fr_preto.fr-text h5 {
  font-size: 1rem;
  text-align: center
}

.fr_preto.fr-text blockquote {
  text-align: left
}

.fr_texto2.fr-text p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.45;
  text-align: left;
  letter-spacing: .05em;
  margin-top: .25rem;
  color: white
}

.fr_texto2.fr-text h1 {
  font-family: Trebuchet MS;
  font-size: 4.2rem;
  line-height: .8;
  text-align: center;
  margin-top: .1rem;
  margin-bottom: 1rem;
  color: white
}

.fr_texto2.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_texto2.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_texto2.fr-text h4 {
  font-size: 1.8rem;
  text-align: center
}

.fr_texto2.fr-text h6 {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  color: white
}

.fr_texto2.fr-text h5 {
  font-size: 1.1rem;
  text-align: left;
  margin-bottom: .25rem;
  color: white
}

.fr_texto2.fr-text blockquote {
  text-align: left
}

.fr_group_container_5 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #ae9d9d
}

.fr_grid_18 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_18.fr-grid>.fr-widget {
  float: left
}

.fr_grid_18.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_18.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_text_200 {
  float: none;
  display: block
}

.fr_image_container_18 {
  float: none;
  display: block;
  position: relative
}

.fr_grid_17 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_17.fr-grid>.fr-widget {
  float: left
}

.fr_grid_17.fr-grid>.fr-widget:nth-child(1n+1) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 100%;
  clear: left;
  max-width: inherit
}

.fr_cnt03_image_6 {
  float: none;
  display: block;
  background-image: linear-gradient(rgba(19, 17, 17, 0.47), rgba(19, 17, 17, 0.47)), url(photo-1498842812179-c81beecf902c.jpg);
  background-position: left center;
  background-size: cover;
  min-height: 25rem
}

.fr_hero_vertically_centered {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img1.jpg_1200x800.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 80vh
}

.fr_vertically_centered_block {
  display: block;
  top: 50%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.fr_text_27 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_8 {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #b27574
}

.fr_text_30 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_features_block {
  float: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto
}

.fr_group_container_4 {
  width: 60%;
  padding-top: 3rem;
  padding-right: 5%;
  padding-bottom: 3rem;
  padding-left: 5%;
  background-color: #f7f7f7
}

.fr_grid_13 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1rem;
  max-width: 1000px
}

.fr_grid_13.fr-grid>.fr-widget {
  float: left
}

.fr_grid_13.fr-grid>.fr-widget:nth-child(1n+1) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 100%;
  clear: left;
  max-width: inherit
}

.fr_text_193 {
  float: none;
  display: block
}

.fr_action_container {
  float: none;
  display: block;
  background-position: center center;
  background-size: cover;
  position: relative;
  min-width: 40%
}

.fr_content_11 {
  float: none;
  display: block;
  padding-top: 0;
  padding-bottom: 0
}

.fr_text_28 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1200px
}

.fr_grid_25 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_25.fr-grid>.fr-widget {
  float: left
}

.fr_grid_25.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_25.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_25 {
  float: none;
  display: block;
  position: relative
}

.fr_content_12 {
  float: none;
  display: block;
  padding-top: 0;
  padding-bottom: 0
}

.fr_text_209 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1200px
}

.fr_text_210 {
  float: none;
  display: block
}

.fr_grid_26 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  max-width: 1000px
}

.fr_grid_26.fr-grid>.fr-widget {
  float: left
}

.fr_grid_26.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 1%;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 17.5%;
  clear: left;
  max-width: inherit
}

.fr_grid_26.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 81.5%;
  clear: none;
  max-width: inherit
}

.fr_image_container_26 {
  float: none;
  display: block;
  position: relative
}

.fr_content_13 {
  float: none;
  display: block;
  padding-top: 0;
  padding-bottom: 0
}

.fr_text_211 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 1200px
}

.fr_text_212 {
  float: none;
  display: block
}

.fr_text_214 {
  float: none;
  display: block;
  padding-top: 2rem;
  padding-right: 7rem;
  padding-bottom: 1rem;
  padding-left: 7rem;
  background-color: white
}

.fr_image {
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 560px
}

.fr_hero_centered {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #b27574;
  background-position: center bottom;
  background-size: cover
}

.fr_container_wrapper {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_text_9 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto
}

.fr_container {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.fr_text_block {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

@media screen and (max-width:1024px) {
  .fr_group_container_4 {
    padding-top: 2rem;
    padding-bottom: 0
  }
}

@media screen and (max-width:768px) {
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_features_block {
    -webkit-flex-direction: column;
    flex-direction: column
  }
  .fr_group_container_4 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto;
    padding-bottom: 2rem
  }
  .fr_image {
    margin-top: 2rem
  }
}

@media screen and (max-width:480px) {
  h1 {
    font-size: 3.2rem
  }
  .fr_text_bright_center.fr-text h1 {
    font-size: 2.5rem
  }
  .fr_text_large_bright_center {
    font-size: 1.3em
  }
  .fr_text_large_dark_center {
    font-size: 1.3em
  }
  .fr_preto {
    font-size: 1.3em
  }
  .fr_texto2 {
    font-size: 1.3em
  }
  .fr_texto2.fr-text h1 {
    font-size: 3.2rem
  }
  .fr_texto2.fr-text h5 {
    line-height: 1.3;
    text-align: center
  }
  .fr_group_container_5 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_grid_18.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_18.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_17.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_17.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_hero_vertically_centered {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_features_block {
    -webkit-flex-direction: column;
    flex-direction: column
  }
  .fr_group_container_4 {
    -webkit-align-self: stretch;
    align-self: stretch;
    width: auto
  }
  .fr_grid_13.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_13.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_25.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_25.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_grid_26.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_26.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_text_214 {
    height: 35rem;
    padding-right: 1rem;
    padding-left: 1rem
  }
  .fr_image {
    margin-top: 1rem
  }
  .fr_hero_centered {
    padding-top: 30px;
    padding-bottom: 30px
  }
}

@media screen and (max-width:320px) {
  h1 {
    font-size: 2.2rem
  }
  .fr_text_bright_center.fr-text p {
    font-size: 1.1rem
  }
  .fr_text_bright_center.fr-text h1 {
    font-size: 2.0rem
  }
  .fr_preto.fr-text h1 {
    font-size: 3.5rem
  }
  .fr_texto2.fr-text p {
    text-align: center
  }
  .fr_texto2.fr-text h1 {
    font-size: 2.2rem
  }
  .fr_cnt03_image_6 {
    min-height: 20rem
  }
  .fr_hero_vertically_centered {
    min-height: 60vh
  }
  .fr_text_214 {
    height: 48rem
  }
}