h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_text_large_dark_center.fr-text p {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-style: normal;
  font-size: 1.7em;
  line-height: 1.45;
  text-align: center;
  letter-spacing: .0em;
  color: #626161
}

.fr_text_large_dark_center.fr-text h1 {
  font-size: 4.2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h4 {
  font-size: 1.8rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h6 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h5 {
  font-size: 1rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text blockquote {
  text-align: left
}

.fr_hero_with_parallax {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #596d82;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll
}

.fr_text_26 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_11 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_28 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_12 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_29 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_13 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_30 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_14 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_31 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_15 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_32 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_17 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_34 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_18 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_35 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_19 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_36 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_image {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_3 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_4 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_5 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_7 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_9 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_10 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_image_11 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_content_20 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_37 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_image_12 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_content_21 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_38 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_image_13 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_content_22 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_39 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_image_14 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px
}

.fr_hero_with_parallax_2 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #596d82;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 1000px
}

.fr_text_40 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_23 {
  float: none;
  display: block;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: white
}

.fr_text_41 {
  float: none;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_text_large_dark_center {
    font-size: 1.3em
  }
  .fr_text_large_dark_center.fr-text p {
    font-size: 1.1rem
  }
  .fr_hero_with_parallax {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_hero_with_parallax_2 {
    padding-top: 80px;
    padding-bottom: 80px
  }
}