h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: PT Sans;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .8rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #a1a0a0
}

p {
  font-family: PT Sans;
  font-weight: 100;
  font-size: .8rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #a1a0a0
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  font-family: Trebuchet MS;
  color: #ffc906
}

.fr_text_bright_center.fr-text h5 {
  font-family: Trebuchet MS;
  color: white
}

.fr_text_bright_center.fr-text h6 {
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_icon_bright {
  fill: white
}

.fr_text_dark_center.fr-text blockquote {
  text-align: left
}

.fr_text_dark_center.fr-text h1 {
  text-align: center
}

.fr_text_dark_center.fr-text h6 {
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  text-align: center;
  color: white
}

.fr_text_dark_center.fr-text h3 {
  font-family: Trebuchet MS;
  text-align: center;
  color: #da8b22
}

.fr_text_dark_center.fr-text h5 {
  font-family: Trebuchet MS;
  font-size: .9rem;
  text-align: center;
  letter-spacing: 0
}

.fr_text_dark_center.fr-text p {
  text-align: center
}

.fr_text_dark_center.fr-text h2 {
  text-align: center
}

.fr_text_dark_center.fr-text h4 {
  text-align: center
}

.fr_texto_branco.fr-text blockquote {
  text-align: left
}

.fr_texto_branco.fr-text h1 {
  text-align: center
}

.fr_texto_branco.fr-text h6 {
  font-family: Trebuchet MS;
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: center;
  color: white
}

.fr_texto_branco.fr-text h3 {
  font-family: Trebuchet MS;
  text-align: center
}

.fr_texto_branco.fr-text h5 {
  text-align: center
}

.fr_texto_branco.fr-text p {
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  text-align: center;
  color: white
}

.fr_texto_branco.fr-text h2 {
  text-align: center
}

.fr_texto_branco.fr-text h4 {
  text-align: center
}

.fr_titulo_geral {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_titulo_geral.fr-text p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8)
}

.fr_titulo_geral.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_titulo_geral.fr-text h2 {
  font-family: Trebuchet MS;
  text-align: center;
  color: #26383e
}

.fr_titulo_geral.fr-text h3 {
  color: white
}

.fr_titulo_geral.fr-text h4 {
  font-family: Trebuchet MS;
  color: #ffc906
}

.fr_titulo_geral.fr-text h5 {
  font-family: Trebuchet MS;
  color: white
}

.fr_titulo_geral.fr-text h6 {
  color: white
}

.fr_titulo_geral.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_content_27 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #618e9e;
  background-image: linear-gradient(rgba(13, 20, 23, 0.74), rgba(13, 20, 23, 0.74)), url(gettyimages-137086904_1.jpg_2000x1420.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed
}

.fr_text_182 {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_cnt04_3_column_grid_2 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt04_3_column_grid_2.fr-grid>.fr-widget {
  float: left
}

.fr_cnt04_3_column_grid_2.fr-grid>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 1.3%;
  margin-bottom: .6em;
  margin-left: 1.3%;
  width: 31.596666666666664%;
  clear: left;
  max-width: inherit
}

.fr_cnt04_3_column_grid_2.fr-grid>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 1.3%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.596666666666664%;
  clear: none;
  max-width: inherit
}

.fr_cnt04_3_column_grid_2.fr-grid>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 1.3%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.596666666666664%;
  clear: none;
  max-width: inherit
}

.fr_icon_wrapper {
  margin-right: auto;
  margin-left: auto
}

.fr_svg_24 {
  float: none;
  display: block;
  width: 100%;
  margin-top: .81rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 70px
}

.fr_text_183 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto
}

.fr_icon_wrapper_2 {
  margin-right: auto;
  margin-left: auto
}

.fr_svg_23 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1.46rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 60px
}

.fr_text_184 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto
}

.fr_icon_wrapper_3 {
  margin-right: auto;
  margin-left: auto
}

.fr_svg_22 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1.15rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 60px
}

.fr_text_185 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto
}

.fr_text_186 {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_gallery_17 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white
}

.fr_text_203 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_4 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_4.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_4.fr-grid>.fr-widget:nth-child(4n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_4.fr-grid>.fr-widget:nth-child(4n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_4.fr-grid>.fr-widget:nth-child(4n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_4.fr-grid>.fr-widget:nth-child(4n+4) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: none;
  max-width: inherit
}

.fr_container_25 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_42 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #512355
}

.fr_text_204 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_container_26 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_43 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #512355
}

.fr_text_205 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_container_27 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_44 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #512355
}

.fr_text_206 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_container_28 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_66 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: #512355
}

.fr_text_207 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_text_208 {
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_discover {
  float: none;
  display: block;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: black;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(62, 90, 66, 0.64), rgba(62, 90, 66, 0.64)), url(gettyimages-137086893_1.jpg_2000x1021.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed
}

.fr_text_65 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_gallery_18 {
  padding-bottom: 1rem;
  background-color: white
}

.fr_gry1_3_column_images_5 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_5.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 31.996666666666666%;
  clear: none;
  max-width: inherit
}

.fr_gry1_image_one_5 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  background-color: #512355;
  min-height: 20rem;
  border-radius: 10px
}

.fr_container_29 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_67 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: rgba(255, 255, 255, 0.8)
}

.fr_text_210 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_gry1_image_two_5 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  background-color: #512355;
  min-height: 20rem;
  border-radius: 10px
}

.fr_container_30 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_68 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: rgba(255, 255, 255, 0.8)
}

.fr_text_211 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_gry1_image_three_5 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  background-color: #512355;
  min-height: 20rem;
  border-radius: 10px
}

.fr_container_31 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_69 {
  float: none;
  display: block;
  width: 60px;
  margin-right: auto;
  margin-left: auto;
  fill: rgba(255, 255, 255, 0.8)
}

.fr_text_212 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_gallery_19 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white
}

.fr_text_213 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_6 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_6.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 49%;
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 49%;
  clear: none;
  max-width: inherit
}

.fr_gry1_image_three_6 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  background-image: linear-gradient(rgba(0, 2, 1, 0.69), rgba(0, 2, 1, 0.69)), url(gettyimages-484189195_1.jpg_1766x1179.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 14rem;
  border-radius: 10px
}

.fr_container_35 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_73 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 50px;
  fill: #da8b22
}

.fr_text_216 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_gry1_image_four_6 {
  padding-top: 2rem;
  padding-right: 2%;
  padding-bottom: 2rem;
  padding-left: 2%;
  background-image: linear-gradient(rgba(0, 2, 1, 0.69), rgba(0, 2, 1, 0.69)), url(gettyimages-495655593_1.jpg_1766x1234.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 14rem;
  border-radius: 10px
}

.fr_container_36 {
  margin-right: auto;
  margin-left: auto
}

.fr_image_74 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 50px;
  fill: #da8b22
}

.fr_text_217 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1rem
}

.fr_gallery_20 {
  padding-bottom: 5rem;
  background-color: white
}

.fr_text_223 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_8 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry1_3_column_images_8.fr-grid>.fr-widget {
  float: left
}

.fr_gry1_3_column_images_8.fr-grid>.fr-widget:nth-child(4n+1) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 23.5%;
  clear: left;
  max-width: inherit
}

.fr_gry1_3_column_images_8.fr-grid>.fr-widget:nth-child(4n+2) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 23.5%;
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_8.fr-grid>.fr-widget:nth-child(4n+3) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 23.5%;
  clear: none;
  max-width: inherit
}

.fr_gry1_3_column_images_8.fr-grid>.fr-widget:nth-child(4n+4) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 23.5%;
  clear: none;
  max-width: inherit
}

.fr_card_a_9 {
  background-color: #512355;
  min-height: 20rem;
  border-radius: 6px
}

.fr_card_header_9 {
  margin-right: auto;
  margin-left: auto;
  background-color: #da8b22;
  position: relative;
  min-height: 8rem;
  border-radius: 6px 6px 0 0
}

.fr_image_78 {
  float: none;
  display: block;
  top: 50%;
  left: 50%;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  fill: white;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%)
}

.fr_text_224 {
  float: none;
  display: block;
  width: 80%;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto
}

.fr_card_a_10 {
  background-color: #512355;
  min-height: 20rem;
  border-radius: 6px
}

.fr_card_header_10 {
  margin-right: auto;
  margin-left: auto;
  background-color: #da8b22;
  position: relative;
  min-height: 8rem;
  border-radius: 6px 6px 0 0
}

.fr_image_79 {
  float: none;
  display: block;
  top: 50%;
  left: 50%;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  fill: white;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%)
}

.fr_text_225 {
  float: none;
  display: block;
  width: 80%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto
}

.fr_card_a_11 {
  background-color: #512355;
  min-height: 20rem;
  border-radius: 6px
}

.fr_card_header_11 {
  margin-right: auto;
  margin-left: auto;
  background-color: #da8b22;
  position: relative;
  min-height: 8rem;
  border-radius: 6px 6px 0 0
}

.fr_image_80 {
  float: none;
  display: block;
  top: 50%;
  left: 50%;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  fill: white;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%)
}

.fr_text_226 {
  float: none;
  display: block;
  width: 80%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto
}

.fr_card_a_12 {
  background-color: #512355;
  min-height: 20rem;
  border-radius: 6px
}

.fr_card_header_12 {
  margin-right: auto;
  margin-left: auto;
  background-color: #da8b22;
  position: relative;
  min-height: 8rem;
  border-radius: 6px 6px 0 0
}

.fr_image_81 {
  float: none;
  display: block;
  top: 50%;
  left: 50%;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  fill: white;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%)
}

.fr_text_227 {
  float: none;
  display: block;
  width: 80%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto
}

.fr_hero_vertically_centered {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(gettyimages-673468866_1.jpg_2000x1333.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 80vh
}

.fr_vertically_centered_block {
  display: block;
  top: 50%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.fr_text_27 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_container {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;
  background-color: white
}

.fr_content_6 {
  float: none;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white
}

.fr_text_42 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_youtube_video {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px
}

.fr_svg_24 .fr-svg-inner {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 99.94086977790809%;
  padding-left: 0;
  position: relative
}

.fr_svg_23 .fr-svg-inner {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 107.6923076923077%;
  padding-left: 0;
  position: relative
}

.fr_svg_22 .fr-svg-inner {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 100%;
  padding-left: 0;
  position: relative
}

.fr_image_42 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_43 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_44 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_66 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_67 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_68 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_69 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_73 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_74 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_78 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_79 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_80 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_image_81 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_youtube_video .fr-video-inner {
  padding-bottom: 56.25%;
  position: relative
}

@media screen and (max-width:1024px) {
  .fr_gry1_3_column_images_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_4.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: .6em;
    margin-left: 0;
    width: 49%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_4.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 1%;
    width: 49%;
    clear: none;
    max-width: inherit
  }
}

@media screen and (max-width:768px) {
  .fr_cnt04_3_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt04_3_column_grid_2.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_text_208 {
    padding-right: 2rem;
    padding-left: 2rem
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: .6em;
    margin-left: 0;
    width: 49%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 1%;
    width: 49%;
    clear: none;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: .6em;
    margin-left: 0;
    width: 49%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 1%;
    width: 49%;
    clear: none;
    max-width: inherit
  }
  .fr_gry1_3_column_images_8.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_8.fr-grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: .6em;
    margin-left: 0;
    width: 49%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_8.fr-grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 1%;
    width: 49%;
    clear: none;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_text_dark_center.fr-text h5 {
    font-family: Trebuchet MS
  }
  .fr_titulo_geral.fr-text h1 {
    font-size: 2rem
  }
  .fr_gry1_3_column_images_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_4.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_5.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_6.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_gry1_3_column_images_8.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry1_3_column_images_8.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_card_a_9 {
    min-height: 1rem
  }
  .fr_text_224 {
    margin-bottom: 2rem
  }
  .fr_card_a_10 {
    min-height: 1rem
  }
  .fr_text_225 {
    margin-bottom: 2rem
  }
  .fr_card_a_11 {
    min-height: 1rem
  }
  .fr_text_226 {
    margin-bottom: 2rem
  }
  .fr_card_a_12 {
    min-height: 1rem
  }
  .fr_text_227 {
    margin-bottom: 2rem
  }
  .fr_hero_vertically_centered {
    padding-top: 80px;
    padding-bottom: 80px
  }
}

@media screen and (max-width:320px) {
  .fr_cnt04_3_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt04_3_column_grid_2.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
}