h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.0;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Trebuchet MS;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #6c6c6c
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_large_bright_center {
  font-family: Trebuchet MS
}

.fr_text_large_bright_center.fr-text p {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.45em;
  letter-spacing: .05em;
  color: white
}

.fr_text_large_bright_center.fr-text h1 {
  font-size: 4.2rem;
  text-align: center
}

.fr_text_large_bright_center.fr-text h2 {
  font-family: Trebuchet MS;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_large_bright_center.fr-text h3 {
  font-size: 2rem
}

.fr_text_large_bright_center.fr-text h4 {
  font-size: 1.8rem
}

.fr_text_large_bright_center.fr-text h6 {
  font-family: Trebuchet MS;
  font-size: 1.5rem;
  color: #f4f4f4
}

.fr_text_large_bright_center.fr-text h5 {
  font-size: 1rem
}

.fr_text_large_bright_center.fr-text blockquote {
  text-align: left
}

.fr_text_large_dark_center.fr-text p {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .05em
}

.fr_text_large_dark_center.fr-text h1 {
  font-size: 4.2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h2 {
  font-size: 3rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h3 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h4 {
  font-size: 1.8rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h6 {
  font-size: 2rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text h5 {
  font-size: 1rem;
  text-align: center
}

.fr_text_large_dark_center.fr-text blockquote {
  text-align: left
}

.fr_content_26 {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #183e51;
  background-image: linear-gradient(rgba(24, 62, 81, 0.49), rgba(24, 62, 81, 0.49)), url(img1.jpg_1200x392.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll
}

.fr_text_164 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_11 {
  float: none;
  display: block;
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: white
}

.fr_text_28 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_content_27 {
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: #847892
}

.fr_text_165 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

@media screen and (max-width:1024px) {
  .fr_text_large_bright_center.fr-text h2 {
    font-size: 3rem
  }
  .fr_content_27 {
    padding-bottom: 10rem
  }
}

@media screen and (max-width:768px) {
  .fr_content_27 {
    padding-bottom: 10rem
  }
}

@media screen and (max-width:480px) {
  h2 {
    font-size: 2.5rem
  }
  .fr_text_large_bright_center {
    font-size: 1.3em
  }
  .fr_text_large_bright_center.fr-text h2 {
    font-size: 2.5rem
  }
  .fr_text_large_bright_center.fr-text h6 {
    font-family: Trebuchet MS;
    font-size: 1.1rem
  }
  .fr_text_large_dark_center {
    font-size: 1.3em
  }
  .fr_text_large_dark_center.fr-text p {
    text-align: left
  }
  .fr_content_11 {
    padding-bottom: 2rem
  }
  .fr_text_28 {
    width: 85%
  }
  .fr_content_27 {
    padding-top: 2rem;
    padding-bottom: 10rem
  }
}

@media screen and (max-width:320px) {
  .fr_text_large_bright_center.fr-text h2 {
    font-size: 2rem
  }
  .fr_text_large_bright_center.fr-text h6 {
    font-size: 1.2rem
  }
  .fr_text_large_dark_center.fr-text p {
    text-align: left
  }
}