html{ height: auto; }

body{
    font-size: 16px;
}

main p, main label, main li, main span{
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 18px !important;
}

main h1{
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 40px !important;
    margin: 0 0 20px 0;
}

main h2{
    font-size: 1.5rem !important;
    line-height: 2.0rem !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    margin: 0;
}

main .full-frame {
    z-index: 1;
    width: 100%;
    background-color: #000;
    height: 100%;
    transition: left 300ms ease,right 300ms ease;
    background: transparent;
    display: block;
    overflow: hidden;
}

main strong{
    font-weight: bold;
}

main .collapsible-header{
    background-color: #512355
}

main .be-text-red{color: #C5665C}
main .be-text-green{color: #A4CAAA}
main .be-text-blue{color: rgb(59, 90, 105)}
main .be-text-purple{color: rgb(81, 35, 85)}
main .be-text-gray{color: #808080}
main .be-text-aqua{color: rgb(84, 144, 157)}
main .be-text-orange{color: rgb(255, 140, 0)}

main .be-bg-red{background-color: #C5665C}
main .be-bg-green{background-color: #A4CAAA}
main .be-bg-blue{background-color: rgb(59, 90, 105)}
main .be-bg-purple{background-color: rgb(81, 35, 85)}
main .be-bg-gray{background-color: #808080}
main .be-bg-aqua{background-color: rgb(84, 144, 157)}
main .be-bg-orange{background-color: rgb(255, 140, 0)}

@media only screen and (max-width: 375px){
    ul#page-tab{
        display: block;
        height: auto;
    }
    main h1{
        font-size: 30px !important;
    }
    main p, main label, main li, main span{
        font-size: 15px !important;
    }
}