h1 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Trebuchet MS;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_center {
  font-family: Roboto;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text p {
  font-family: Roboto;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h1 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text h2 {
  text-align: center;
  color: #f48024
}

.fr_text_bright_center.fr-text h3 {
  color: white
}

.fr_text_bright_center.fr-text h4 {
  color: white
}

.fr_text_bright_center.fr-text h5 {
  color: white
}

.fr_text_bright_center.fr-text h6 {
  font-family: Trebuchet MS;
  text-align: center;
  color: white
}

.fr_text_bright_center.fr-text blockquote {
  font-style: italic;
  text-align: left;
  color: white
}

.fr_button_border_black {
  font-family: Trebuchet MS;
  text-align: center;
  color: black;
  border: 1px solid #000;
  border-radius: 4px
}

.fr_header_2 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img3.jpg_1242x829.jpg);
  background-position: center center;
  background-size: cover
}

.fr_text_173 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px
}

.fr_content_25 {
  float: none;
  display: block;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
  min-height: 27.88rem
}

.fr_cnt03_column_grid_3 {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt03_column_grid_3.fr-grid>.fr-widget {
  float: left
}

.fr_cnt03_column_grid_3.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 1em;
  margin-right: 4%;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_cnt03_column_grid_3.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_cnt03_image_3 {
  float: none;
  display: block;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: url(the-profit.jpg_621x326.jpg);
  background-position: center top;
  background-size: contain;
  min-height: 16rem
}

.fr_text_163 {
  float: none;
  display: block
}

.fr_content_26 {
  float: none;
  display: block;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white
}

.fr_cnt03_column_grid_4 {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_cnt03_column_grid_4.fr-grid>.fr-widget {
  float: left
}

.fr_cnt03_column_grid_4.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 1em;
  margin-right: 4%;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_cnt03_column_grid_4.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_text_174 {
  float: none;
  display: block
}

.fr_text_162 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 2rem;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  max-width: 240px
}

.fr_cnt03_image_4 {
  float: none;
  display: block;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: url(barbixas_1.jpg_621x283.jpg);
  background-position: center top;
  background-size: contain;
  min-height: 16rem
}

h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

@media screen and (max-width:768px) {
  .fr_cnt03_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt03_column_grid_3.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_cnt03_column_grid_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_cnt03_column_grid_4.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_center.fr-text h1 {
    font-size: 2rem
  }
  .fr_header_2 {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_content_26 {
    padding-top: 1rem;
    padding-bottom: 10rem
  }
  .fr_text_162 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_cnt03_image_4 {
    min-height: 12rem
  }
}

@media screen and (max-width:320px) {
  .fr_cnt03_image_3 {
    min-height: 10rem
  }
  .fr_content_26 {
    padding-bottom: 10rem
  }
  .fr_cnt03_image_4 {
    min-height: 8rem
  }
}

.fr_text_162 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_162:hover {
  color: #cbc6c6;
  background-color: #2d2d2d;
  transition-duration: .125s
}